.rdm-button {
  gap: 10px;
  padding: 10px;
  background-color: var(--rdm-primary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.rdm-button:focus {
  outline: var(--rdm-focus-outline-width) solid var(--rdm-active-color);
  box-shadow: 0 0 0 var(--rdm-focus-box-shadow-width) var(--rdm-background-color);
}
.rdm-button-text {
  color: #fff;
}
.rdm-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.rdm-button:not(:disabled):hover:active {
  transform: scale(0.98);
}
.rdm-button:not(:disabled):hover {
  outline: var(--rdm-focus-outline-width) solid var(--rdm-active-color-hover);
}

/* variants */
.rdm-button[variant='secondary'] {
  background-color: var(--rdm-secondary-color);
  color: #000;
}
.rdm-button[variant='secondary'] .rdm-button-text {
  color: #000;
}

.rdm-button[variant='danger'] {
  background-color: var(--rdm-danger-color);
}

.rdm-button[variant='success'] {
  background-color: var(--rdm-success-color);
}

.rdm-button[variant='warning'] {
  background-color: var(--rdm-warning-color);
}

.rdm-button[variant='info'] {
  background-color: var(--rdm-info-color);
}
